<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Crear Producto
    </title>
    <link rel="stylesheet" href="/estilos/bootstrap.min.css">
</head>
<body>
    <!-- Your product information here -->
    <div class="container mt-5">
        <h2>Crear Producto</h2>
        <form action="/productos" method="POST" class="form">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" name="nombre" value="" id="nombre" class="form-control">
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="text" name="precio" value="" id="precio" class="form-control">
            </div>
            
            <input type="submit" value="Guardar cambios" class="btn btn-primary">
        </form>
    </div>
  
</body>
</html>