<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= producto.nombre %>
    </title>
    <link rel="stylesheet" href="/estilos/bootstrap.min.css">
</head>
<body>
    <!-- Your product information here -->
    <div class="container mt-5">
        <h2>Editar Producto</h2>
        <form action="/productos/<%= producto.id %>?_method=PUT" method="POST" class="form">
            <input type="hidden" name="_method" value="put">
            <div class="mb-3">
                <label for="id" class="form-label">Código</label>
                <input type="text" name="id" value="<%= producto.id %>" readonly id="id" class="form-control">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" name="nombre" value="<%= producto.nombre %>" id="nombre" class="form-control">
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="text" name="precio" value="<%= producto.precio %>" id="precio" class="form-control">
            </div>
            <div class="mb-3">
                <label for="slug" class="form-label">Slug</label>
                <input type="text" name="slug" value="<%= producto.slug %>" readonly id="slug" class="form-control">
            </div>
            
            <input type="submit" value="Guardar cambios" class="btn btn-primary">
            <button class="btn btn-danger" id="delete-button">Eliminar Producto</button>

        </form>
    </div>

    <script>
        const id = document.getElementById('id');
        const deleteButton = document.getElementById('delete-button');
        deleteButton.addEventListener('click', (e) => {
            e.preventDefault();
            fetch('/productos/' + id.value, {
                    method: 'DELETE',
                }).then(window.location= "/productos")
        });
    </script>
  
</body>
</html>