<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title> 
            <% if(titulo == ""){ %>
            Hola Josué 
            <% } else { %> 
            Hola Desconocido
            <% } %>
             
    </title>
    <link rel="stylesheet" href="/estilos/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
    <h2 class="mb-4">Lista de Productos</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach((producto) => { %>
                <tr>
                    <td><%= producto.id %></td>
                    <td class="product-name">
                        <a href="<%='productos/' + producto.slug %>" class="text-decoration-none"><%= producto.nombre %></a>
                    </td>
                    <td>$<%= producto.precio %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="crearproducto" class="btn btn-primary">Crear Producto</a>
</div>
</body>
</html>

